<%= error_messages_for 'protocol_start_history' %>

<!--[form:protocol_start_history]-->
<p><label for="protocol_start_history_date">Date</label><br/>
<%= datetime_select 'protocol_start_history', 'date'  %></p>
<!--[eoform:protocol_start_history]-->

