<h1>Editing protocol_start_history</h1>

<% form_tag :action => 'update', :id => @protocol_start_history do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @protocol_start_history %> |
<%= link_to 'Back', :action => 'list' %>
