<%= error_messages_for 'weight' %>

<!--[form:weight]-->
<p><label for="weight_date">Date</label><br/>
<%= datetime_select 'weight', 'date'  %></p>

<p><label for="weight_weight">Weight</label><br/>
<%= text_field 'weight', 'weight'  %></p>

<p><label for="weight_note">Note</label><br/>
<%= text_area 'weight', 'note'  %></p>

<p><label for="weight_after_eating">After eating</label><br/>
<%= text_field 'weight', 'after_eating'  %></p>
<!--[eoform:weight]-->

