<% for column in Weight.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @weight.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @weight %> |
<%= link_to 'Back', :action => 'list' %>
