<h1> Weigh Bats </h1>

<%= start_form_tag :action => 'submit_weights' %>

<p>Weighing bats in cage: <%= @cage.name %></p>
<table>
<th>Band</th>
<th>Weight(g)</th>

<% for @weight in @weights %>
<tr>
<td><%= @weight.bat.band %></td>
<td><%= text_field 'weight[]', 'weight', 'index' => @weight.bat.band %></td>
</tr>
<% end %>
</table>
<%= submit_tag 'Submit Weights' %>

<%= end_form_tag %>