<h1>Single bat or entire cage?</h1>

<p><%= link_to 'Weigh Bat', :controller => 'bats', :action => 'choose_bat_to_weigh' %></p>
<p><%= link_to 'Weigh Cage', :controller => 'cages', :action => 'choose_cage_to_weigh' %></p>