<% for column in MedicalCareAction.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @medical_care_action.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @medical_care_action %> |
<%= link_to 'Back', :action => 'list' %>
