<%= error_messages_for 'cage_out_history' %>

<!--[form:cage_out_history]-->
<p><label for="cage_out_history_date">Date</label><br/>
<%= datetime_select 'cage_out_history', 'date'  %></p>

<p><label for="cage_out_history_note">Note</label><br/>
<%= text_area 'cage_out_history', 'note'  %></p>
<!--[eoform:cage_out_history]-->

