<h1>Editing medical_treatment</h1>

<% form_tag :action => 'update', :id => @medical_treatment do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @medical_treatment %>