<h2>
  Manage Feeding Tasks of 
  <%= deactivating ? 'Old' : 'New' %>
  Cage: <%= cage.name %>
</h2>

<div class='left_indent'>

<% if step == 1 %>
<%= render :partial=>'tasks/manage_feeding_tasks', :locals=>{:cage=>cage} %>
<% end %>

<p><%= button_to 'Done', :controller => :bats, :action => :list %></p>

</div>