<div class='sidebar'>
  <% if @bat.weights.empty? %>
    No weights
  <% else %>
    <table>
      <th style="font-size: 10pt"></th>
      <th style="font-size: 10pt">Days ago</th>
      <% @bat.weights.length >= 10 ? weights = @bat.weights[0,10] : weights = @bat.weights %>
      <% for weight in weights %>
        <tr>
          <td style="text-align:center"><%= weight.weight %> g</td>
          <td style="text-align:center">
            <span title="<%= nice_date_with_time weight.date %>">
              <%=h Date.today - weight.date.to_date %>
            </span>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>


</div>