<h1>Deactivating bat : <%= @bat.band %> </h1>

<% # This lets us pick a deactivate date and then sets that %>
<% @bat.cage = nil %>

<%= render :partial => "form", :locals => {:redirectme => 'move'} %>