<%= error_messages_for 'cage_in_history' %>

<!--[form:cage_in_history]-->
<p><label for="cage_in_history_date">Date</label><br/>
<%= datetime_select 'cage_in_history', 'date'  %></p>

<p><label for="cage_in_history_note">Note</label><br/>
<%= text_area 'cage_in_history', 'note'  %></p>
<!--[eoform:cage_in_history]-->

