<html>
<head>
<title>Batkeeping Manual</title>
<link type="text/css" rel="stylesheet" href="stylesheets/scaffold.css">
</head>
<body>

<h2>Batkeeping</h2>

<p>An animal record keeping program for bats.</p>

<p>by Ben Falk and Kaushik Ghose</p>

</body>

</html>