<html>
<head>
<title>Batkeeping Manual</title>
<link type="text/css" rel="stylesheet" href="stylesheets/scaffold.css">
</head>
<body>

<h2>Batkeeping</h2>

<h4>A record keeping program for bats</h4>

<br/>
<br/>

<p><b>guilty parties:</b> Ben Falk (bfalk at umd dot edu) and Kaushik Ghose (kghose at umd dot edu)</p>

<p><a href='http://rubyforge.org/projects/animals'>Rubyforge Project Site</a></p>

</body>

</html>