<h1>Choose Cage to Weigh</h1>

<div class='left_indent'>

<div id="weigh_cage">
<% @div_id = "weigh_cage" %>
<% @weighing = true %>
<%= render :partial => 'cages/cage_list', :locals => {:cage_list => @cages} %>
</div>

</div>

<p>
<%= link_to 'Choose from all cages', :controller => :cages, :action => :choose_cage_to_weigh %> | 
<%= link_to 'Weigh By Bat', :controller => :bats, :action => :choose_bat_to_weigh, :bats => User.find(session[:person]).bats %>
</p>