<h1>Choose a cage to weigh</h1>

<% for cage in @cages %>
<p><%= link_to cage.name, :action => 'weigh_cage' , :id => cage %></p>
<% end %>

<p><%= link_to 'Back', :controller => 'weights', :action => 'weighing_choice' %></p>