<h1>Deactivating cage : <%= @cage.name %> </h1>

<%= form_tag :action => 'update', :id => @cage, :redirectme => 'list', :deactivating =>@deactivating %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Deactivate' %>
<%= end_form_tag %>