<h1>Editing cage <%= @cage.name %></h1>

<% @disable_cage_name_change = true %>

<%= form_tag :action => 'update', :id => @cage, :redirectme => 'list' %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
</form>

<%= link_to 'Show', :action => 'show', :id => @cage %> |
<%= link_to 'List Current Cages', :action => 'list' %>
