<h1>
<% if @list_all %>
Listing all cages
<% else %>
Listing current cages
<% end %>
</h1>

<%= render_partial 'cages/cage_list', @cages %>

<br />

<%= link_to 'New Cage', :action => 'new' %>
<% if @list_all %>
<%= link_to 'List Current Cages', :action => 'list' %>
<% else %>
<%= link_to 'List All Cages', :action => 'list_all_by_name' %>
<% end %>