<h1>
<% if @list_all %>
Listing all cages
<% else %>
Listing current cages
<% end %>
</h1>

<div id = "cages_div">
<%= render :partial => 'cages/cage_list', :locals => {:cage_list => @cages} %>
</div>
<br />

<%= link_to 'New Cage', :action => 'new' %>

<% if @list_all %>
<%= link_to "List Current Cages", :controller => 'cages', :action => 'list' %>
<% else %>
<%= link_to "List All Cages", :controller => 'cages', :action => 'list_all' %>
<% end %>
