<h1>New cage</h1>

<% @disable_cage_name_change = false %>

<%= form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create New Cage" %>
</form>

<%= link_to 'List Current Cages', :action => 'list' %>
