<h1> Weighed Bats in cage <%= @cage.name %></h1>

<%#= params %>
<table>
<th>Band</th>
<th>Weight(g)</th>
<th>Notes</th>
<% for bat in @bats %>
<tr>
<td><%= bat.band %></td>
<td><%= params[:weight][bat.id.to_s] %></td>
<td><%= params[:note][bat.id.to_s] %></td>
</tr>
<% end %>
</table>