<h1>Add Treatment To Medical Problem: <%=h @medical_problem.title %></h1>

<%= form_tag :action => 'create', :id => @medical_problem %>
  <%= render :partial => 'form' %>
  <p><%= submit_tag "New Treatment" %></p>
</form>

<p><%= button_to 'Done', :controller => 'medical_problems', :action => 'list' %></p>

<%= link_to 'List Current Medical Problems', :controller => 'medical_problems', :action => 'list_current' %>