[<%= link_to_remote 'expand', 
          :update => 'medical',
          :url => {:controller => 'main', :action => 'medical_summary'} %>]
Bats in <%= link_to 'medical care', :controller => 'medical_problems', :action => 'list_current' %> : <%= Bat.sick.length %>