[<%= link_to_remote 'expand', 
          :update => 'rooms',
          :url => {:controller => 'main', :action => 'room_summary'} %>]
Bats in colony: <%= link_to Bat.active.length, :controller => 'bats', :action => 'list' %>