<%= render :partial => 'main/animal_care_staff_list',
		:locals => {:user_summary_page => true, :animal_care_users => @animal_care_users, :medical_care_users => @medical_care_users, :weekend_care_users => @weekend_care_users} %>