<h1>Colony status as of <%= nice_date_with_time Time.now %></h1>

<div id = 'rooms'>
<%= render :partial => 'hide_room_summary' %>
</div>

<div id = 'census'>
<%= render :partial => 'hide_census_summary' %>
</div>

<div id = 'food'>
<%= render :partial => 'hide_food_summary' %>
</div>

<div id = 'medical'>
<%= render :partial => 'hide_medical_summary' %>
</div>
