<table>

<tr>
<td><%= image_tag ("bat_logo.png") %></td>
<td></td>
<TD VALIGN=CENTER><h2>Batkeeping</h2>A weight and health management program for bats</td>
</tr>

</table>

<p><%= link_to 'List Users', :controller => 'users', :action => 'list' %> | <%= link_to 'Add User', :controller => 'users', :action => 'new' %></p>