<h1>Moving bats to a cage</h1>

<table>
<tr>
<td valign="top">Moved bats</td>
<td>
<% for bat in @bats %>
<%= bat.band %><br/>
<% end %>
</td>
<td valign="top">to cage <%= @cage.name %></td>
</tr>
</table>

