<h1>Summary page for <%= session[:person].name %></h1>

<% if @mycages.count > 0 %> 
<h3>Your cages</h3>
<%= render_partial 'cages/cage_list', @mycages %>
<% else %>
<h3>You have no cages</h3>
<% end %>