<%#
Common html to flight logs
%>
<h3>Notes on flying bats:</h3>

<div style="width:480px">

<ul>
  <li>At least 3x/week if not exempt</li>
  <li>Bat flown or given opportunity to fly for at least 30 minutes</li>
  <li>Bats in flight cages have flight logs automatically populated</li>
  <li>Exempt if:</li>
  <ul>
    <li>Hibernating [through sp.]</li>
    <li>Has a surgery</li>
    <li>Has medical problem</li>
    <li>Quarantine [up to 30 days after vacc., if sp. requires vacc.]</li>
  </ul>

</ul>

<hr />
</div>