<h1>New flight log</h1>

<% form_tag :action => :create do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<div id="cal" style="position:fixed;top:80px;right: 10px;width:625px">
  <% if @bat %>
    <% flight_dates, flights  = @bat.flight_dates(Date.today.year,Date.today.mon) %>
    <% dates = set_calendar_date_format(flights) %>
    <%= render :partial => 'remote_show', :locals=>{:bat=>@bat,
      :highlight_today=>true, :this_month => Date.today,
      :flight_dates => flight_dates, :flights =>flights, :dates => dates} %>
  <% end %>
</div>