<h1>New flight log</h1>

<% form_tag :action => :create do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<div id="cal">
  <% if @bat %>
    <% flight_dates, flights  = @bat.flight_dates(Date.today.year,Date.today.mon) %>
    <% dates = Hash.new %>
    <%  flights.each{|f| dates[ f.date.strftime("%d").to_i ] = "<a href=\"#\" onclick=\"new Ajax.Updater(\'f_entry_display\', \'/flights/remote_flights_entry_list?flight=" + f.id.to_s + "\', {asynchronous:true, evalScripts:true}); return false;\">" + f.date.strftime("%d").to_i.to_s + "</a>"} %>
    <%= render :partial => 'remote_show', :locals=>{:bat=>@bat,
      :highlight_today=>true, :this_month => Date.today,
      :flight_dates => flight_dates, :flights =>flights, :dates => dates} %>
  <% end %>
</div>