<b>Current Medical Tasks for Treatment: <%= medical_treatment.title %>:</b>
<div class="left_indent">
<p>
<%= render :partial => 'tasks/tasks_list', :locals =>{:tasks => medical_treatment.tasks, :div_id => 'tasks_div', :single_cage_task_list => false, :manage => true} %>
</p>
</div>