<h2>[<%= link_to_remote '+', :url => {:controller => 'tasks', :action => :show_tasks, :feeding_tasks => feeding_tasks, :weighing_tasks => weighing_tasks, :general_tasks => general_tasks, :medical_tasks => medical_tasks, :div_id => div_id},
        :update => div_id %>]
<% if div_id == 'todays_tasks' %>
Today's Tasks
<% else %>
Tasks Not Due Today
<% end %>
</h2>