    <p>
      <b>Treatment: </b><%= link_to task.title , :controller => 'tasks', :action => 'show', :id => task %>
      <div class="left_indent">
        <b>Start Date: </b><%=h nice_date(task.date_started) %><br />
        <b>End Date: </b><%=h nice_date(task.date_ended) %><br />
        <%= render :partial => 'tasks/show_all_task_histories', :locals => {:task => task} %>
      </div>
    </p>