<% if task.task_histories.length == 0 %>
  <p><b>This task has never been done</b></p>
<% else %>
  <h4><%=h task.title %> Done:</h4>
  <blockquote>
  <% for task_history in task.task_histories %>
      <p>
      <b>Date: </b><%= nice_date_with_time(task_history.date_done) %><br/>
      <b>Remarks: </b><%= task_history.remarks %><br/>
      <b>User: </b><%=h task_history.user.name %><br/>
      </p>
      <hr width = "60%" align=LEFT />
  <% end %>
  </blockquote>
<% end %>