<table>
  <thead>
    <th>Title</th>
    <th>User(s)</th>
    <th>Frequency</th>
    <th>Last Done</th>
  </thead>
 
 <tbody>  
  
<% for task in tasks %>
  <% if task.internal_description == nil || task.internal_description == "feed" %>
    <% manage = true %>
  <% else %>
    <% manage = false %>
  <% end %>
 <%= render :partial => 'tasks/single_task_list', :locals => {:single_task_list => nil, :task => task, :manage => manage} %>

<% end %>

 </tbody>
</table>