<p><b>Cage owner:</b> <%=h @cage.user.name %></p>

<p><b>Bats in cage:</b> <%=h @cage.bats.length %></p>

<% @average = @cage.average_bat_weight %>
<p>
<b>Average Weight: </b><%= @average %> g
</p>

<b>Current <%= task_type %> Tasks for <%= @cage.name %>:</b>
<div class="left_indent">
<%= render :partial => 'tasks/tasks_list', :locals =>{:tasks_list => nil, :tasks => tasks, :div_id => 'tasks_div', :single_cage_task_list => true, :manage => true} %>
</div>