<h1>Editing task history</h1>

<p><b>Task:</b> <%= @task_history.task.title %></p>

<p><b>Date Done:</b> <%= nice_date(@task_history.date_done) %></p>

<p><b>User:</b> <%= @task_history.user.name %></p>

<% form_tag :action => 'update_task_history', :id => @task_history, :redirect_me => @redirect_me do %>
	
	<p><label for="task_history_remarks">Remarks</label><br />
	<%= text_area 'task_history', 'remarks', :rows => 2  %></p>
	
	<%= submit_tag 'Edit' %>
<% end %>