<h1>Manage Feeding Tasks for <%= @cage.name %></h1>

<%= render :partial=>'tasks/manage_feeding_tasks', :locals=>{:cage=>@cage} %>

<%= button_to 'Done', :controller => 'cages', :action => 'show', :id => @cage %>