<html>
<head>
  <title>Bats: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<%= render_partial 'layouts/menubar_no_signin_link' %>

<p style="color: green"><%= flash[:notice] %></p>

<% if session[:person] != nil %>
<%= yield  %>
<% else %>
<%= link_to 'Login', :controller => 'main', :action => 'index' %>
<% end %>

</body>
</html>
