<html>
<head>
  <title>Batkeeping <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag "prototype" %>
</head>
<body>

<%= render_partial 'layouts/menubar_login' %>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
