<html>
<head>
  <title>Batkeeping Main Menu</title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<%= render_partial 'layouts/menubar' %>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>
