<html>
<head>
  <title>Users: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<%= render_partial 'layouts/menubar_show_signin_link' %>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>