<h1>Choose Cage to Weigh</h1>

<%= render :partial => 'cages/cage_list', :locals => {:cage_list => @cages,:weighing=>true,:show_leave_date_and_reason=>false} %>

<p>
<%= link_to 'Choose from all cages', :controller => :cages, :action => :choose_cage_to_weigh %> | 
<%= link_to 'Weigh By Bat', :controller => :bats, :action => :choose_bat_to_weigh, :bats => User.find(session[:person]).bats %>
</p>