<%= error_messages_for 'rooms' %>

<!--[form:rooms]-->
<p><label for="rooms_name">Name</label><br/>
<%= text_field 'rooms', 'name'  %></p>

<p><label for="rooms_room_number">Room number</label><br/>
<%= text_field 'rooms', 'room_number'  %></p>
<!--[eoform:rooms]-->

