<h1>Moving bats from <%= @cage.name %></h1>

<%= start_form_tag :action => 'move' %>

Select bat(s): 
<%= select_tag("bat[id][]", options_from_collection_for_select(@bats, "id", "band"), 
:multiple => true) %>

to move to cage: 
<%= select_tag("cage[id]", options_from_collection_for_select(@cages, "id", "name")) %>

Note : <%= text_field 'move', 'note' %>

<%= submit_tag 'Move' %>

<%= end_form_tag %>

<%= link_to 'Back', :action => 'choose_cage' %>