<h1>Choose Bat to Weigh</h1>

<div class='left_indent'>

<%= render :partial => 'bats/bat_list', :locals => {
		:bat_list => @bats,
		:show_leave_date_and_reason => @show_leave_date_and_reason,
		:show_weigh_link => true }  %>

</div>

<p>
<%= link_to 'Choose from all bats', :controller => :bats, :action => :choose_bat_to_weigh %> | 
<%= link_to 'Weigh By Cage', :controller => :cages, :action => :choose_cage_to_weigh, :cages => User.find(session[:person]).cages.active %>
</p>