<h1>Deactivating bat : <%= @bat.band %> </h1>

<% # This lets us pick a deactivate date and then sets that %>
<% @bat.cage = nil %>

<%= form_tag :action => 'deactivate_bat', :id => @bat, :redirectme => 'list' %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Deactivate' %>
</form>