<h1>Deactivating bat : <%= @bat.band %> </h1>

<%= start_form_tag :action => 'update', :id => @bat, :redirectme => 'list' %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Deactivate' %>
<%= end_form_tag %>