<h1>Editing bat</h1>

<%= form_tag :action => 'update', :id => @bat, :redirectme => 'list' %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
</form>

<%= link_to 'Show', :action => 'show', :id => @bat %> |
<%= link_to 'List Current Bats', :action => 'list' %>
<%#= link_to 'Deactivate Bat', { :action => 'deactivate', :id => @bat }, :confirm => 'Are you sure?', :method => :post %>
