<h1>
<% if @list_all %>
Listing all bats
<% else %>
Listing current bats
<% end %>
</h1>

<div id="bats_div">
<%= render_partial 'bat_list', @bats %>
</div>
  
<br />

<%= link_to 'New Bat', :action => 'new' %>
<% if @list_all %>
<%= link_to 'List Current Bats', :controller => 'bats', :action => 'list' %>
<% else %>
<%= link_to 'List All Bats', :controller => 'bats', :action => 'list_all' %>
<% end %>