<h1>Moved bats</h1>

<table>
<tr>
<td valign="top">Moved bats</td>
<td>
<% for bat in @bats %>
<b><%= bat.band %></b><br />
<% end %>
</td>
<td valign="top">to cage <b><%= @cage.name %></b></td>
</tr>
</table>

