<h1>New bat</h1>

<%= start_form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "New Bat" %>
<%= end_form_tag %>

<%= link_to 'List Current Bats', :action => 'list' %>
