<h1>Reactivate bat : <%= @bat.band %> </h1>

<%= start_form_tag :action => 'reactivate_bat', :id => @bat, :redirectme => 'list' %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Reactivate' %>
<%= end_form_tag %>