<h1> Weighed <%= @bat.band %> in <%= @bat.cage.name %></h1>

<%#= params %>
<table>
<th>Weight(g)</th>
<th>Notes</th>
<tr>
<td><%= params[:weight][@bat.id.to_s] %></td>
<td><%= params[:note][@bat.id.to_s] %></td>
</tr>
</table>