<h1>Weigh <%= @bat.band%> in <%= @bat.cage.name %></h1>

<%= start_form_tag :action => 'submit_weight', :id => @bat %>

<table>
<th>Band</th>
<th>Weight</th>
<th align='left'>Weight Notes</th>
<th>Previous Weights</th>
<th>Cage</th>
<th>Cage change reason</th>

<% @bats = Array.new ; @bats << @bat %>
<%= render_collection_of_partials "bats/weigh_one_bat", @bats %>

</table>

<%= submit_tag 'Submit Weights' %>

<%= end_form_tag %>