<h1>Editing user</h1>

<% form_tag :action => 'update', :id => @user do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @user %> |
<%= link_to 'List Current Users', :action => 'list' %> |
<%= link_to 'Deactivate User', { :action => 'deactivate', :id => @user }, :confirm => 'Are you sure?', :method => :post %>