<%= error_messages_for 'medical_problem' %>

<!--[form:medical_problem]-->
<p><label for="medical_problem_date_opened">Date opened</label><br/>
<%= datetime_select 'medical_problem', 'date_opened'  %></p>

<p><label for="medical_problem_description">Description</label><br/>
<%= text_area 'medical_problem', 'description'  %></p>

<p><label for="medical_problem_date_closed">Date closed</label><br/>
<%= datetime_select 'medical_problem', 'date_closed'  %></p>
<!--[eoform:medical_problem]-->

