<% form_remote_tag :url=>{:controller=>'medical_problems', :action=>'remote_create', :bat => bat},
            :update=>'medical_problems' do %>

<table>

<th>Medical Problem</th>
<th>Detailed Description</th>

<tr>
<td valign='top'><%= text_field 'medical_problem', 'title' %></td>
<td valign='top'><%= text_area 'medical_problem', 'description', 'rows' => "3" %></td>
<td valign='top'><%= submit_tag 'Add Medical Problem' %></td>
</tr>

</table>

<% end %>