<p style="color: green"><%= flash[:note] %></p>
<% flash[:note] = nil %>

<table>
<% if show_bat %>
<th>Bat</th>
<th>Cage</th>
<% end %>
<th>Medical Problem</th>
<th>Date Opened</th>
<% if @list_all %>
  <th>Date Closed</th>
<% end %>
<th></th><th></th>
<th>Treatment</th>
<% for medical_problem in medical_problems %>
    <%= render :partial => 'medical_problems/show_medical_problem', :locals => {:medical_problem => medical_problem, :show_bat => show_bat} %>
<% end %>
</table>