    <p>
      <b>Treatment: </b><%= link_to task.title , :controller => 'tasks', :action => 'show', :id => task %>
      <blockquote>
        <b>Start Date: </b><%=h nice_date(task.date_started) %><br />
        <b>End Date: </b><%=h nice_date(task.date_ended) %><br />
        <%= render :partial => 'proposed_treatments/show_all_medical_care_actions', :locals => {:task => task} %>
      </blockquote>
    </p>