<p>
<% if @medical_problems[0] != nil %>
<%= start_form_tag :action => 'medicate_bat', :id => @medical_problem %>

Pick a current medical problem: <%= select_tag "medical_problem[id]", options_from_collection_for_select(@medical_problems, "id", "description") %>

<%= submit_tag 'Go' %>
<%= end_form_tag %>

<% else %>
There are no current medical bats!
<% end %>
</p>


<p><%= link_to 'New Medical Problem', :action => 'new'%></p>