<h1>New Medical Problem</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create Medical Problem" %>
<% end %>

<%= link_to 'List Current Medical Problems', :action => 'list_current' %>
