<h1>New Medical Problem</h1>

<%= form_tag :action => 'create' %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create Medical Problem" %>
</form>

<%= link_to 'List Current Medical Problems', :action => 'list_current' %>
