<% for column in MedicalProblem.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @medical_problem.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @medical_problem %> |
<%= link_to 'Back', :action => 'list' %>
