<!-- 
	This partial displays a list of bats for showing the bats flight log
		:bat_list - the list of bats
-->

<% if bat_list %>

<table>
<th>
<%= link_to_remote "Band", :url => {:action => :remote_bat_list, :bats => bat_list, :sort_by => 'band'}, :update => "bat_list" %>
</th>
<th>
<%= link_to_remote "Leave Date", :url => {:action => :remote_bat_list, :bats => bat_list, :sort_by => 'leave_date'}, :update => "bat_list" %>
</th>

<% for bat in bat_list %>
  <tr>
  
  <td><b><%= link_to bat.band, :controller => :flights, :action => :show, :id => bat %></b></td>
  <td>
  <% if bat.leave_date != nil %>
  <%= nice_date bat.leave_date %>
  <% end %>
  </td>
  </tr>

<% end %>
  
</table>

<% else %>
	No bats
<% end %>