<%#
Common html to flight logs
%>
<h3>Notes on flying bats:</h3>

<ul>
  <li>At least 3x/week if not exempt</li>
  <li>Bat flown or given opportunity to fly for at least 30 minutes</li>
  <li>Bats in flight cages have flight logs automatically populated</li>
  <li>Exempt if:</li>
  <ul>
    <li>Hibernating</li>
    <li>On surgery protocol</li>
    <li>Has medical problem</li>
    <li>Quarantine (until 30 days after vacc, if sp. requires)</li>
  </ul>

</ul>

<hr style="width:450px;margin-left: 0px">