<%#
Common html to flight logs
%>
<h3>Notes on flying bats:</h3>

<div class="left_indent">
<p><b>Each bat should be flown 3x/week if not exempt.<br>Bat flown or given opportunity to fly for at least 15 minutes.</b></p>

<p>Bat exempt if:
<ul>
  <li>Hibernating</li>
  <li>On surgery protocol</li>
  <li>Has medical problem</li>
  <li>Quarantine</li>
</ul>
Bats in flight cages have flight logs automatically populated.
</p>

</div>