<h1>New flight log</h1>

<% form_tag :action => :create do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<div id="calendar" style="width:400px;margin-left:50px">
</div>

<%= link_to 'Show Flight Logs', :action => :list %>