<h1>Flight Log for <%= link_to @bat.band, :controller => :bats, :action => :show, :id => @bat %></h1>

<br>

<%= render :partial => 'flights/remote_show', :locals => { 
		:bat => @bat, :this_month => Date.today, :flight_dates => @flight_dates, :highlight_today => true, :flights => @flights} %>