<h1>New Medical Treatment for Bat <%=h @medical_problem.bat.band %></h1>

<% form_tag :action => 'create', :id => @medical_problem do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= render :partial => 'medical_problems/show_all_treatments', :locals => {:medical_problem => @medical_problem} %>