<h1>New Medical Treatment for Bat <%=h @medical_problem.bat.band %></h1>

<% form_tag :action => 'create', :id => @medical_problem do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>

<p>Show all medical treatments</p>