<% for column in Species.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @sp.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @species %> |
<%= link_to 'Back', :action => 'list' %>
