<%= error_messages_for 'protocol_end_history' %>

<!--[form:protocol_end_history]-->
<p><label for="protocol_end_history_date">Date</label><br/>
<%= datetime_select 'protocol_end_history', 'date'  %></p>
<!--[eoform:protocol_end_history]-->

