<%= error_messages_for 'bat_note' %>

<!--[form:bat_note]-->
<p><label for="bat_note_date">Date</label><br/>
<%= datetime_select 'bat_note', 'date'  %></p>

<p><label for="bat_note_text">Text</label><br/>
<%= text_area 'bat_note', 'text'  %></p>
<!--[eoform:bat_note]-->

