<h1>Editing bat_note</h1>

<% form_tag :action => 'update', :id => @bat_note do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<% end %>

<%= link_to 'Show', :action => 'show', :id => @bat_note %> |
<%= link_to 'Back', :action => 'list' %>
