<h1>Editing bat_note</h1>

<%= form_tag :action => 'update', :id => @bat_note %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
<%= end_form_tag %>

<%= link_to 'Show', :action => 'show', :id => @bat_note %> |
<%= link_to 'Back', :action => 'list' %>
