<% for column in BatNote.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @bat_note.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @bat_note %> |
<%= link_to 'Back', :action => 'list' %>
