<%= error_messages_for 'protocol_history' %>

<!--[form:protocol_history]-->
<p><label for="protocol_history_date_in">Date in</label><br/>
<%= datetime_select 'protocol_history', 'date_in'  %></p>

<p><label for="protocol_history_date_out">Date out</label><br/>
<%= datetime_select 'protocol_history', 'date_out'  %></p>
<!--[eoform:protocol_history]-->

