<%= error_messages_for 'cage_history' %>

<!--[form:cage_history]-->
<p><label for="cage_history_date_in">Date in</label><br/>
<%= datetime_select 'cage_history', 'date_in'  %></p>

<p><label for="cage_history_date_out">Date out</label><br/>
<%= datetime_select 'cage_history', 'date_out'  %></p>
<!--[eoform:cage_history]-->

