<h1>Editing cage_history</h1>

<%= form_tag :action => 'update', :id => @cage_history %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Edit' %>
</form>

<%= link_to 'Show', :action => 'show', :id => @cage_history %> |
<%= link_to 'Back', :action => 'list' %>
