<% for column in CageHistory.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @cage_history.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @cage_history %> |
<%= link_to 'Back', :action => 'list' %>
