<div style="color:green"><%= flash[:prot_notice] %></div>

<% if protocols.length > 0 %>

  <%= render :partial => 'protocols/protocols_table_list',
    :locals =>{:protocols => protocols, :selecting => true, :user => nil, :bat => bat} %>

<% else %>
  <div style="text-align:center;">
    No protocols.
    <%= link_to 'New Protocol', new_protocol_path %>
  </div>
<% end %>