<h1>Editing protocol</h1>

<%= link_to 'Show', @protocol %> |
<%= link_to 'List Protocols', protocols_path %> |
<%= link_to 'My Protocols', :controller=>:protocols, :action=>:index, :ids=>User.find(session[:person]).protocols.current %>

<%= render :partial => "form" %>