<script> 
  function toggleAll(name)
{
  boxes = document.getElementsByClassName(name);
  for (i = 0; i < boxes.length; i++)
    if (!boxes[i].disabled)
   		{	boxes[i].checked = !boxes[i].checked ; }
}

function setAll(name,state)
{
  boxes = document.getElementsByClassName(name);
  for (i = 0; i < boxes.length; i++)
    if (!boxes[i].disabled)
   		{	boxes[i].checked = state ; }
}
</script> 

<div style="margin-right:auto; margin-left:auto; text-align:center; width:650px">

<% if @act.include?('remove') %>
<h2 style="color:red">Remove Multiple Bats from Protocols</h2>
<% else %>
<h2 style="color:blue">Add Multiple Bats to Protocols</h2>
<% end %>

</div>

<div id="form_bats_protocols">
  <%= render :partial => 'form_bats_protocols',
  :locals => {:bats => @bats, :protocols => @protocols, :act => @act, 
  :cages => @cages, :rooms => @rooms, :species=>@species} %>
</div>
