<!--[form:rooms]-->
<p><label for="training_type_name">Training Type Name</label><br/>
<%= text_field 'training_type', 'name'  %></p>

<p><label for="training_type_description">Training Type Description</label><br/>
<%= text_area 'training_type', 'description', :cols => 50, :rows => 2  %></p>
<!--[eoform:rooms]-->

