<% for column in TrainingType.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @training_type.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @training_types %> |
<%= link_to 'Back', :action => 'list' %>
