<% for column in TrainingType.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @training_type.send(column.name) %>
</p>
<% end %>

<b>Users trained:</b><br />
<div class='left_indent' >
<% for training in @training_type.trainings %>
  <%= link_to training.user.name, :controller=>:trainings, :selected_user=>training.user %><br />
<% end %>
</div>

<%= link_to 'Edit', :action => 'edit', :id => @training_type %> |
<%= link_to 'List Training Types', :action => 'list' %>