[<%= link_to_remote '+', 
          :update => 'rooms',
          :url => {:controller => 'stats', :action => 'room_summary'} %>]
<%= link_to Bat.active.length, :controller => 'bats', :action => 'list' %> bats in 
<%= link_to Cage.has_bats.length, :controller => 'cages', :action => 'list' %> cages : 
