body { 
    background-color: #fff;
    color: #333;
    padding-top: 1cm;
    padding-left: .5cm;
    padding-right: .5cm;
}

body, p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size:   13px;
    line-height: 18px;
}

pre {
    background-color: #eee;
    padding: 10px;
    font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
    padding: 2px;
    background-color: red;
    display: table;
}

#errorExplanation {
    width: 400px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}

div.uploadStatus {
    margin: 5px;
}

div.progressBar {
    margin: 5px;
}

div.progressBar div.border {
    background-color: #fff;
    border: 1px solid grey;
    width: 100%;
}

div.progressBar div.background {
    background-color: #333;
    height: 18px;
    width: 0%;
}

/* To hide the deactivate fields e.g. leave date */
div.hidden {
    display: none;
}

div.mainmenu {
    font-size: 80%;
    color: black;
    position:absolute;
    margin: 0cm;
    top: 0cm;
    left: 0cm;
    right: 0cm;
    padding-bottom: .1cm;
    background-color: #eee;
    font-weight: bold;
}

div.mainmenu a {
    text-decoration: none;
}

/* the log in name is shown here */
div.session {
    position:absolute;
    top: 0cm;
    right: 1cm;
    text-align: right;
}

/*The info that can be popped up on hover*/
a.info{
    position:relative; /*this is the key*/
    z-index:24; background-color:#ff0;
    color:#000;
    text-decoration:none;
    font-size: 8pt;
    line-height: 1.4
}

a.info:hover{z-index:25; background-color:#ff0}

a.info span{display: none}

a.info:hover span{ /*the span will display just on :hover state*/
                   display:block;
                   position:fixed;
                   top:5cm;
                   left:5cm;
                   border:1px solid #0cf;
                   background-color:#ff0; color:#000;
                   text-align: left;
}

div.scrollingdiv {
    overflow-y : hidden;
    height : 40px;
    width: 160px;
    overflow-y: scroll;
    font-size: 8pt;
}

warning {
    color: red;
    font-weight: bold;
    font-style: italic;
}

div.left_indent {
    margin-left: 1cm;
}

div.right_aligned {
    position:absolute;
    right : .5cm;
    top:1.5cm;
    border:1px solid #000;
    background-color:#eee;
    color:#000;
}

div.sidebar{
    float:right;
    background-color:#eee;
    color:#000;
    padding-right:15px;
    padding-left:15px;
    border-style:dashed;
    border-width:1px;
}

div.sidebar ul {
    padding-left: 20px;
}
div.sidebar li {
    padding-left: 0px;
}

div.show_print_only{
    display:none;
}

tr.striped{
    background-color:#ddd;
}

form.button-to { display:inline;}

input[type="submit"] {
    display:inline; height:21px;
}

.button-to div {
    display: inline;
}

div.centered table {
    text-align: center;
}