<html>

<%= render :partial => 'layouts/standard_head' %>

<body>

<%= render :partial => 'layouts/menubar_login' %>

<p style="color: green"><%= flash[:notice] %></p>

<%= yield  %>

</body>
</html>